# Environment
NODE_ENV="production"

# Server
PORT=5050

# Database (Docker service name = postgres)
DATABASE_URL="postgresql://postgres:postgres@postgres:5432/ratelimiter?schema=public"

# Prisma Accelerate (disabled)
ACCELERATE_URL=

# JWT
JWT_SECRET="2418d9f5be87b6aa9419e9b2c584e4eab5298a09fd4846a8e7dc2813be1759d7"
JWT_EXPIRES_IN="1h"

# Redis
REDIS_URL="redis://redis:6379"
REDIS_HEALTH_CHECK_INTERVAL=30

# Sentry
SENTRY_DSN="https://947f0e2cf5eb1c43f5b652ee0cdfde04@o4509598466965504.ingest.us.sentry.io/4510544595910656"
